extends layout

block content
	//- if (!user)
	//- //- 	a(href="/login") Login
	//- //- 	br
	//- //- 	a(Href="/register") Register
	if (user)
		//- allow user to create poll
		//- h4 You are currently logged in as #{user.username}
	.container.jumbotron.well
		h1 Create a new poll
		#newPollForm
	//- .row
	//- 	.col-sm-12
	//- 		h1 Create a new poll
	//- 		#newPollForm

	//- 	a(href="/logout") Logout
