body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
/*
a {
  color: #00B7FF;
}
*/

#usermenu-list {
	/*padding: 5px 10px 0px 10px;*/
	/*padding: 15px; padding-bottom: 15px;*/
	/*padding-right: 100px;*/
	right: 0;
	left: auto;
	width: 200px;
	/*margin: auto;*/
}

.jumbotron {
	/*padding: 20px;*/
	/*margin: auto;*/
	/*border: #e7e7e7;*/
	/*color: #333;*/
	/*box-sizing: border-box;*/
}
/*
.poll-container.poll-list {
	margin: -200px;
}

*/

.poll-container {
	/*margin-left: -15px;*/
}

.poll {
	background: white;
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	/*font-size: large;*/
}


.poll-listing {
	list-style-type: none;
}


.poll-list .poll.well:hover{
	background: lightblue;
}

.poll-list {
	margin-left: -30px;
	margin-right: -30px;
}

.header-column {
	margin-left: -15px
}

li.answer-option, .answer-option {
	margin: 5px 0px 5px 0px;
}



.answer-option.poll-listing.uneditable {
/*	padding: 5px 0px 5px 0px;*/
	border: 1px solid white;
}

.answer-option.poll-listing.uneditable.add-border {
	/*background: lightblue;*/
	/*border: black;*/
	border: 1px solid lightblue;
	border-radius: 5px;
}


.answer-option span {
	/*margin-left: -25px;*/

	/*to allow answer option to wrap to next line but be indented*/
	/*padding-left: 25px;*/
	/*text-indent: -20px;*/
}

.vertical-spacing {
	margin-top: 5px;
	margin-bottom: 5px;
}

.vote-count {
	float: right;
}

.delete-poll-link {
	/*float: right;*/
	/*margin-left: 10px;*/
}


.example1-enter {
  opacity: 0.01;
}

.example1-enter.example1-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example1-leave {
  opacity: 1;
}

.example1-leave.example1-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


.modal-header, .modal-footer {
	text-align:center
}

.modal-body .control-label {
	padding-right: 0;
}

.chart-title {
	text-align: center;
}

.poll-label {
	font-size: 21px;
}

.float-right {
	float: right;
}

.modal-close-button {
	margin-right: 10px;
	margin-top: 10px;
}

.display-inline {
	display: inline;
}

#modal-error-message {
	margin-bottom: 10px;
}

.answer-options-list {
/*	border: 1px solid black;
	padding: 5px;*/
}

.back-to-all-polls {
	/*margin-left: 25px;*/
}

.share-poll-button {
	/*margin-top: 10px;*/
}

.hidden {
	visible: hidden;
}

canvas {
	/*max-width: 600px;*/
	/*border: 1px solid black;*/
	/*width: 50%;*/
	/*height: 90% !important;*/
}


.chart-canvas-div {
	/*height: 800px;*/
	/*height: 90% !important;*/

}
/*
.form-control-feedback {
	position: relative;
	width: auto;
}
*/
.header-button {
	margin-left: 10px;
	margin-bottom: 5px;
}

 .poll-box-header {
 	/*height: 50px;*/
 }



 .row.hidden-overflow {
  /*overflow: hidden;*/
}

#poll-chart-div, #poll-text-div{
  /*margin-bottom: -99999px;*/
  /*padding-bottom: 99999px;*/
}